@charset "UTF-8";
label {
    background-color: #c69;         
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 80%;
    display: inline-block;
    padding: 10px;
}
input[type=text],input[type=password],input[type=email] {
    width: 60%;
}
input,select {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid gray;
}